{% extends 'main/base.html' %}

{% block title %}О нас{% endblock %}

{% block main %}
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi molestiae sequi assumenda beatae repellendus sit non quas asperiores, repellat totam cum libero tempore nulla facere quasi laboriosam suscipit vel officia! Consequuntur delectus tempora in saepe quas cum autem, omnis, explicabo est, praesentium iure laboriosam aspernatur libero quam culpa repudiandae accusamus architecto tempore illum aperiam? Culpa numquam cum quod sequi facere.</p>
{% endblock %}