{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>

<body>
    <header class="header">
        {% block header %}
        <a class="header__item" href="{% url 'about' %}">О нас</a>
        <a class="header__item" href="{% url 'contacts' %}">Контакты</a>
        <a class="header__item" href="{% url 'add_announcement' %}">Добавить объявление</a>
        <a class="header__item" href="{% url 'index' %}">Все объявления</a>
        {% endblock %}
    </header>

    <main>{% block main %}{% endblock %}</main>
    <footer>{% block footer %}{% endblock %}</footer>
</body>
</html>